.shop_main
  .header
    .header__title

  .main
    .pickup
      .pickup__title　おすすめ店舗
      .pickup__image
        -# レンダーにてimage展開予定
    .pickup
      .pickup__title　新着店舗
      .pickup__image
  .footer