.card
  .item
  -# =link_to shop_path(shop.id), method: :get do
    .item__detail
      .item__detail__image
        -# = image_tag "#{item.images.first.image}", alt: '商品画像', height:'188', width:'185'
        