- 3.times do
  .box
    .shop
    -# =link_to shop_path(shop.id), method: :get do
      .shop__detail
        .shop__detail__image
          -# = image_tag "#{shop.images.first.image}", alt: '商品画像', height:'188', width:'185'
        .shop__detail__price
          %span= "¥ "
      .shop__explanation
        %span= "shop.name"
        .shop__explanation__review