.shop_main{
  .header{
    height: 200px;
    width: 100%;
    background-color: $gray;
    box-shadow: 0 0 20px 0;
    position: relative;
    &__title{
      height: 130px;
      width: 130px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-size: 115px;
      font-family: 'Times New Roman';
      color: #AAAAAA ;
      position: relative;
      top: 30px;
      left: 10px;
      border-radius: 50%;
      background-color: $headerblue;
      overflow: hidden;
      &::before{
        display:block;
        content:"";
        width:25px;
        height:25px;
        top:25px;
        left:25px;
        position: absolute;
        background-color:#fff;
        border-radius: 50%;  
        z-index:2;
        filter: blur(5px);
      }
      &::after{
        display:block;
        content:"";
        width:130px;
        height:130px;
        top:0px;
        left:0px;
        position: absolute;
        filter: blur(5px);
        background-color:transparent;
        z-index:1;
        box-shadow: inset -10px -10px 0 3px #400;
        border-radius: 50%;
      }
    }
  
  }

  .main{
    height: 100%;
    width: 100%;
    background-color: $gray;
    .pickup{
      height: 500px;
      padding-top: 30px;
      &__title{
        font-size: 30px;
        font-weight: bold;
      }
      &__image{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

      }
    }
  }
  .footer{
    height: 200px;
    width:100%;
    background-color: rgb(54, 34, 2);
    text-align: center;
    &__content{
      height: 100px;
      width: 300px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      a{
        color: $white;
        font-family: 'Times New Roman';
        font-size: 30px;
      }
    }
  }
}