.shop_main{
  .header{
    height: 200px;
    width: 100%;
    background-color: $headerblue;
    box-shadow: 0 0 20px 0;
    position: relative;
  
  }

  .main{
    height: 1020px;
    width: 100%;
    background-color: $gray;
    .pickup{
      height: 500px;
      padding-top: 30px;
      &__title{
        font-size: 30px;
        font-weight: bold;


      }
      &__image{

      }
    }
  }
  .footer{
    height: 200px;
    width:100%;
    background-color: rgb(54, 34, 2);
  }
}