.shop_main{
  .main{
    height: 100%;
    width: 100%;
    background-color: $gray;
    .pickup{
      height: 500px;
      padding-top: 30px;
      background-repeat: no-repeat;

      &__title{
        font-size: 30px;
        font-weight: bold;
      }
      &__image{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        background-repeat: no-repeat;

      }
    }
  }
  .footer{
    height: 200px;
    width:100%;
    background-color: rgb(54, 34, 2);
    text-align: center;
    &__content{
      height: 100px;
      width: 300px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      a{
        color: $white;
        font-family: 'Times New Roman';
        font-size: 30px;
      }
    }
  }
}