//共通
@import "config/reset";
@import "config/mixin";
@import "config/variable";
@import "font-awesome";
@import "header";

//user
@import "modules/user";

//shop
@import "shops/index";
@import "shops/shop-box";
@import "shops/show";
@import "shops/new";
@import "fullcalendar";

//event
@import "events/show";

//mypage
@import "mypage/index";

.notifications {
  color: $white;
  text-align: center;  

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: alert_orange;
  }
}
